<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<!-- stuff in the main section -->
<ion-content>
  <ion-item>
    <ion-label position="floating">
      User Name
    </ion-label>
    <ion-input [(ngModel)]="userName"></ion-input>
    <ion-button shape="round" (click)="settingsButtonClicked()">Update username</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Darkmode</ion-label>
    <ion-toggle [(ngModel)]="darkMode"  (ionChange)="darkModeToggle()"></ion-toggle>
  </ion-item>

  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        Font Size
      </ion-list-header>

      <ion-item>
        <ion-label>Small</ion-label>
        <ion-radio value="small" (ionSelect)="settings.saveFontSize('small')"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Normal</ion-label>
        <ion-radio value="normal" (ionSelect)="settings.saveFontSize('normal')"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Large</ion-label>
        <ion-radio value="large" (ionSelect)="settings.saveFontSize('large')"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button (click)="settings.factoryBtnClicked()">Factory Settings</ion-button>

  <ion-button (click)="settings.getUserName()">username</ion-button>
  <ion-button (click)="settings.getDarkMode()">darkmode</ion-button>
  <ion-button (click)="settings.getFontSize()">fontsize</ion-button>

</ion-content>
