<ion-header>
  <ion-toolbar>
    <ion-title>
      Bryan's Crazy Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Value 1:  </ion-label>
      <ion-input [(ngModel)]="val1" inputmode="numeric" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Value 2: </ion-label>
      <ion-input [(ngModel)]="val2" inputmode="numeric" ></ion-input>
    </ion-item>

  </ion-list>

  <ion-item>
    <ion-label >Operator: </ion-label>
    <ion-select [(ngModel)]="op" placeholder="+">
      <ion-select-option value="+">+</ion-select-option>
      <ion-select-option value="-">-</ion-select-option>
      <ion-select-option value="/">/</ion-select-option>
      <ion-select-option value="*">*</ion-select-option>
    </ion-select>
  </ion-item>

  
  <ion-button (click)="calculate()" >Calculate</ion-button>
  {{result}}
</ion-content>
